*{
    margin:0;
    padding: 0;
}
:root{
    --original:#C2A693;
    --original-hover: #c2a693d7;
    --original-oscuro: #301701;
}
#main-footer{  
    background-color:var(--original);
    text-align: center;
}

.grupo-1{
    display: flex;
    justify-content: center;
    padding: 2% 0;
    color:white;
}
.bloques{
    padding:5px 10px;
    margin:3px 9px;
    word-wrap: break-word;
    width: 100%;
    border-radius: 10px;
}

.listas{
    text-align: left;
    list-style: none; 
}
.listas li:hover{
    background-color: var(--original-hover);
}
.listas h4{
    padding-bottom: 10px;
}
a:link,a:active{
    text-decoration: none;
}
.grupo-2{
    background-color: var(--original-oscuro);
    border-top: 1px solid black;
    color: white;
}

