*{
    margin:0;
    padding: 0;
}
:root{
    --verde-claro:rgb(43, 133, 103);
    --verde-hover: rgb(49, 149, 116);
}
#main-footer{
    background-color:var(--verde-claro);
    text-align: center;
}

.grupo-1{
    display: flex;
    justify-content: center;
    padding: 2% 0;
    color:white;
}
.bloques{
    padding:5px 10px;
    margin:3px 9px;
    word-wrap: break-word;
    width: 100%;
    border-radius: 10px;
}

.listas{
    text-align: left;
    list-style: none; 
}
.listas li:hover{
    background-color: var(--verde-hover);
}
.listas h4{
    padding-bottom: 10px;
}
a:link,a:active{
    text-decoration: none;
}
.grupo-2{
    background-color: #043308;;
    border-top: 1px solid black;
    color: white;
}

