*{
    margin:0;
    padding: 0;
}
#main-footer{
    background-color: rgb(14, 129, 14);
    text-align: center;
    margin: 0 10px;
}
.grupo-1{
    display: flex;
    justify-content: center;
    padding: 2% 0;
    color:white;
}
.bloques{
    padding:5px 10px;
    margin:3px 9px;
    background-color: rgba(26, 156, 14, 0.212);
    word-wrap: break-word;
    width: 30%;
    border-radius: 10px;
}
.bloques,ul{
    list-style: none;
    
}
.listas{
    text-align: left;
    
}
.listas,h4{
    padding-bottom: 10px;
}
a:link,a:active{
    text-decoration: none;
}
.grupo-2{
    background-color: #043308;;
    border-top: 1px solid black;
    color: white;
}