
*{
    margin: 0;
    padding: 0;
}
:root{
    --original:#C2A693;
    --original-hover: #e3cec0d7;
    --text-color: white;
}

.menu{
    background-color: var(--original);
    justify-content: center;
}
.menu a:hover{
    background-color: var(--original-hover);
}

.menu a:link,.menu a:visited,.menu a:active {
    text-decoration:none;
    color: aliceblue;
}
.menu-1,.menu-2{
    list-style: none;
    display: flex;
}


/* ---------- MENU-1 ---------- */

.menu-1>a{
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
.menu-1>a>img{
    width: 100%;
}

/* div de busqueda */
.busqueda{
    display: flex;
    margin-top: 1%;
    width: 70%;
    height: 40px;
    padding-left: 20px;
}
        /* input */
    .busqueda input{
        width: 100%;
    }
        /* boton del input */
        .busqueda button, .busqueda .button-busqueda{
            border: none;
            height: 40px;
            width: 50px;
        } 
/* icono de perfil */
.menu-1>a:nth-child(3){
    width: 60px;
    padding: 15px;
}
/* icono de carrito */
.menu-1>a:nth-child(4){
    width: 75px;
    padding: 15px;
}
/* icono de favoritos */
.menu-1>a:nth-child(5){
    width: 65px;
    padding: 15px;
}
/* ---------- MENU-2 ---------- */

.menu-2 a{
    padding: 0.4%;
    width: 100%;
    text-align: center;
}

/* menu en responsive */
#menu{
    width: 100%;
    display:flex;
    position: relative;
}


#responsive-menu{
    display:none;
}
label{
    display:none;
}
.menu-responsive{display: none;}
#menu-icon{display:none;}
#overlay{display:none;}

@media(max-width:1300px){
    /* icono de perfil */
    .menu-1>a:nth-child(3){
        width: 30px;
        padding: 15px;
    }
    /* icono de carrito */
    .menu-1>a:nth-child(4){
        width: 35px;
        padding: 15px;
    }
    /* icono de favoritos */
    .menu-1>a:nth-child(5){
        width: 35px;
        padding: 15px;
    }
} 


/* Movil */
@media (max-width: 600px) {
   
    .menu {
        color: var(--text-color);
        width: 100%;
    }
    .menu label {
        width: 100%;
        display: block;
        padding: 10px;
        text-align: center;
    }
      
    /* menu desplegado */
    .menu-responsive{
        font-size: 20px;
        width: 100%;
    }
    
    /* si este esta checked cambiamos el menu */
    .menu>input:checked ~ .menu-responsive{
        display: contents;
    }
    .menu-responsive > a >p {
        padding: 10px;
    }
    .menu-responsive > a >p:hover{
        background-color: var(--original-hover);
    }
    .menu-2{display: none;}
}