*{
    margin: 0;
    padding: 0;
}
.outside{
    /* el important sobreescribe cualquier otro estilo*/
    width: 100% !important;
    border: none;
    bottom: 0;
}
/*  POSIBLE PALETA
.color1 {color: #301701;}
.color2 {color: #604A36;}
.color3 {color: #C2A693;}
.color4 {color: #FAF6F0;}
.color5 {color: #EAEFF7;}
*/
:root{
    --fondo:#FAF6F0;
    --video:  #604A36;
}

/* GLOBALES */
.item-hover{
    transition: all 0.5s;
    border-radius: 10px;
}
.item-hover:hover{
    filter: contrast(95%);
    border-radius: 20px;
    transform: scale(1.02); 
}
.texto-titulos{
    width: 100%;
    text-align: center;
}

/* CARRUSEL DE BOOTSTRAP */
.carousel-item{
    height: 600px;
    background: no-repeat center center scroll;
    background-size: cover;
}
.carousel-item>img{
    height: 100%;
}

/* ---------- PRODUCTOS ---------- */
.productos{
    width: 80%;
    display: grid;
    /* repite el tamaño de cada columna en un 50% */
    grid-template-columns: repeat(2, 50%);
    margin: 0 auto;
}
.productos-animal {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    background-color: var(--fondo);
    border-radius: 15px;
}
    /* ----- FOTO FRL DIV */
    .productos-animal>a{
        width: 30%;
        padding: 1%;
    }
    .productos-animal>a>img{
        width: 100%;
        height: 100%;
    }
        /* ----- OPCIONES DENTRO DEL DIV ----- */
        .detalle-producto{
            width: fit-content;
            height: fit-content;
            text-align: center;
            padding: 1%;
        }
        .detalle-producto:active,.detalle-producto:link, .detalle-producto:visited {
            text-decoration: none;
            color: black;
        }
        .detalle-producto>div>img{
            width: 80%;
            height: fit-content;
        }


/* ---------- PROMOCIONES ---------- */
.promocion{
    margin: 0 auto;
    width: 80%;
    height: 300px;
}
.promocion>a{
    margin: 0 auto;
}
.promocion img{
    width: 100%;
    height: 300px;
}

/*---------- CATALOGO ----------*/
.catalogo{
    margin: 0 auto;
    align-items: center;
    width: 80%;
    display: grid;
    /* repite el tamaño de cada columna en un 50% */
    grid-template-columns: repeat(2, 50%);
    /* espacio entre cada bloque */
    /* sin grid en movil */
}
.catalogo-item{
    margin: 0 auto;
    margin: 20px;
}
.catalogo-item img{
    width: 100%;
}

/* ---------- MULTIMEDIA ---------- */
.media{
    width: 70%;
    margin: 0 auto;
    background-color: var(--fondo);
}
.texto{
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
}
.texto p{
    text-align: justify;
}
.multimedia{
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
}

.video-mascotas{
    height: 500px;
    width: 100%;
}
.video-mascotas track{
    color: black;
}
.audio-hamster{
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
}