*{
    margin: 0;
    padding: 0;
}
:root{
    --fondo: #FAF6F0;
    --fondo-producto:white;
}

h2{
    text-align: center;
}
#productos{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 1%;
    background-color: var(--fondo);
    padding: 10px 5px 20px 20px;
}

.producto-especifico{
       /*a
            img
        /a
        p*/
    width: 200px;
    height: fit-content;
    background-color: var(--fondo-producto);
    margin: 0 auto;
    text-align: center; 
    padding: 10px;
}

.producto-especifico>a{
    width: 90%;
    height: fit-content;
}
.producto-especifico>a>img{
    width: 100%;
    border-radius: 10px;
}