*{
    margin: 0;
    padding: 0;
}
:root{
    --fondo: #FAF6F0;
    --fondo-producto:white;
}

h2{
    text-align: center;
}
#productos{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    background-color: var(--fondo);
    padding-top: 20px;
    padding-bottom: 20px;
}

.producto-especifico{
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: var(--fondo-producto);
    text-align: center; 
    padding:15px;
}

.producto-especifico>a{
    width: 90%;
    height: 200px;
}
.producto-especifico>a>img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

/* media de la mitad de la pantalla */

@media (max-width: 1300px){
    #productos{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 275px);
    }
}

/* media de un movil */
@media (max-width: 480px) {
    #productos{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 110px);
    }
    .producto-especifico{
        width: 70px;
        height: 150px;
        font-size: 12px;
    }
    .producto-especifico>a{
        width: 90%;
        height: 70px;
    }
    .producto-especifico>a>img{
        width: 95%;
        height: 70px;
    }
}